body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #facc37;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  text-align: right;
  margin-right: 10px;
}

.nav-link:hover {
  color: #facc37;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbar-nav {
  display: flex;
  gap: 20px;
}

.register-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  margin-top: -190px;
}

#register-button{
  width: 257px;
  color: #000000;
  background-color: #008BFF;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: hand;
  font-size: 15px;
  transition: background-color 0.3s;
  margin-top: 5px;
}

#register-button:hover {
  background-color: #0056a3; 
}

#register-button:disabled {
  background-color: #b3c7dc;
  cursor: not-allowed;
}

#save-changes-button{
  width: 291px;
  color: #000000;
  background-color: #008BFF;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: hand;
  font-size: 15px;
  transition: background-color 0.3s;
  margin-top: 5px;
}

#save-changes-button:hover {
  background-color: #0056a3; 
}

#save-changes-button:disabled {
  background-color: #b3c7dc;
  cursor: not-allowed;
}

#delete-user-button:hover{
  background-color: rgb(246, 248, 92);
}

#delete-user-button{
  margin-left: 89px;
  align-items: center;
}
#delete-user-button:disabled {
  background-color: #b3c7dc;
  cursor: not-allowed;
}

#logout-button {
  width: 70px;
  height: 30px;
  color: #000000;
  background-color: #00e1ff;
  border: none;
  /* padding: 10px 10px; */
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.account{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  margin-top: -350px;
}

